.blogposts-small {
  padding-bottom: 100px;
  &__title {
    color: $color-title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    margin: 0 auto 30px;
    text-align: center;
    max-width: 430px;
  }
  &__items {
    display: flex;
    gap: 20px;
  }
  .blogpost {
    &__img-link {
      width: 100%;
      margin-bottom: 19px;
      display: inline-block;
    }
    &__info {
      margin-bottom: 9px;
      font-size: 14px;
      font-weight: 600;
      color: #707070;
    }
    &__info-date,
    &__info-author,
    &__info-topic {
      color: inherit;
    }
    &__title {
      margin-top: 10px;
    }
    &__title-link {
      color: $color-title;
      font-size: 24px;
      line-height: 38px;
      @extend %title-font;
    }
  }
}

.blog {
  padding: 60px 0 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__category {
    margin-bottom: 36px;
  }
  &__category-title {
    margin-bottom: 16px;
    color: $color-title;
    @extend %title-font;
    line-height: 23px;
  }
  &__category-item {
    margin-bottom: 12px;
  }
  &__category-link {
    color: inherit;
  }

  &__items {
    max-width: 750px;
    &__item {
    }
  }
  &__item-img {
    max-width: 100%;
  }
  &__blockquote {
    display: block;
    width: 100%;
  }

  .article-video {
    &__box {
      background-image: url("../images/blog/blog-img1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      min-height: 414px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &__play-btn {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
      }
    }
  }
}

.recent-posts {
  margin-bottom: 50px;
  &__title {
    margin-bottom: 24px;
    color: $color-title;
    @extend %title-font;
    line-height: 23px;
  }
}
.post {
  margin-bottom: 10px;
  &__title {
    display: block;
    color: inherit;
  }
  &__date,
  &__author {
    color: #a1a1a1;
    font-size: 14px;
  }
  &__date {
    &::after {
      content: "|";
    }
  }
}

.tags {
  display: block;
  margin-bottom: 60px;
  &__title {
    margin-bottom: 24px;
    color: $color-title;
    @extend %title-font;
    line-height: 23px;
  }
  &__link {
    color: #8f8d8d;
    font-weight: 600;
    font-size: 14px;
    padding: 0 16px;
    margin-bottom: 10px;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid rgba(#454647, 0.5);
    border-radius: 14px;
  }
}
.pagination {
  display: flex;
  width: 100%;
  &__item {
    width: 50px;
    height: 50px;
  }
}

.blog-sidebar {
  margin-left: 30px;
  width: 350px;
  &__search {
    position: relative;
  }
  &__search-input {
    padding: 6px 38px 6px 18px;
    border: 1px solid rgba($color-title, 0.7);
    border-radius: 20px;
    display: block;
    width: 100%;
    margin-bottom: 44px;
    &::placeholder {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 27px;
      color: #a1a1a1;
    }
  }
  &__search-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 12px;
    right: 12px;
  }
}
