.blogposts-small {
  .container {
    padding: 0 0px 200px;
  }
  &__inner {
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    color: $color-title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    margin: 0 auto 30px;
    text-align: center;
    max-width: 430px;
  }
  &__items {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .blogpost {
    &__link {
      margin-bottom: 0 0 19px 0;
      display: block;
    }

    &__link-img {
      object-fit: cover;
    }

    &__info {
      margin-bottom: 9px;
      font-size: 14px;
      font-weight: 600;
      color: #707070;
    }
    &__info-date,
    &__info-author,
    &__info-topic {
      color: inherit;
    }
    &__title {
      margin-top: 10px;
    }
    &__title-link {
      color: $color-title;
      font-size: 24px;
      line-height: 38px;
      @extend %title-font;
    }
  }
}

.blog {
  padding: 60px 0 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__category {
    margin-bottom: 36px;
  }
  &__category-title {
    margin-bottom: 16px;
    color: $color-title;
    @extend %title-font;
    line-height: 23px;
  }
  &__category-item {
    margin-bottom: 12px;
  }
  &__category-link {
    color: inherit;
  }

  &__items {
    max-width: 750px;
  }

  &__item {
    margin-bottom: 80px;
  }
  &__item-img {
    max-width: 730px;
  }
  &__item-info {
    padding: 25px 0 10px;
    font-weight: 600;
    font-size: 14px;
    color: #707070;
    a {
      color: inherit;
    }
  }

  &__item-title {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 6px;
    color: $color-title;
    @extend %title-font;
  }

  &__blockquote {
    width: 100%;
    background-color: rgba(233, 233, 233, 0.5);
    margin-bottom: 50px;
    padding: 54px 64px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    &-author {
      font-size: 24px;
      font-style: normal;
      line-height: 22px;
      color: $color-title;
      @extend %title-font;
      margin-top: 23px;
      padding-top: 23px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 1px;
        background-color: #6d7278;
        border-radius: 1px;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0;
      }
    }
  }

  .article-video {
    &__box {
      background-image: url("../images/blog/blog-img1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      min-height: 414px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &__play-btn {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
      }
    }
  }
}

.article-slider {
  &__wrapper {
  }
  &__item {
  }
  &__img {
    width: 100%;
  }
  &__navigation {
    .swiper-button-prev,
    .swiper-button-next {
      padding: 0;
      border: none;
      background: transparent;
      position: absolute;
      top: 50%;
      transition: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      color: white;
      opacity: 0.7;
    }
  }
}

.recent-posts {
  margin-bottom: 50px;
  &__title {
    margin-bottom: 24px;
    color: $color-title;
    @extend %title-font;
    line-height: 23px;
  }
}
.post {
  margin-bottom: 10px;
  &__title {
    display: block;
    color: inherit;
  }
  &__date,
  &__author {
    color: #a1a1a1;
    font-size: 14px;
  }
  &__date {
    &::after {
      content: "|";
    }
  }
}

.tags {
  display: block;
  margin-bottom: 60px;
  &__title {
    margin-bottom: 24px;
    color: $color-title;
    @extend %title-font;
    line-height: 23px;
  }
  &__link {
    color: #8f8d8d;
    font-weight: 600;
    font-size: 14px;
    padding: 0 16px;
    margin-bottom: 10px;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid rgba(#454647, 0.5);
    border-radius: 14px;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  &__list {
    display: flex;
    gap: 12px;
  }
  &__list-item {
  }

  &__arrow {
    margin: 0 6px;
  }
  &__arrow--disabled {
    pointer-events: none;
    opacity: 0;
  }
  &__list-num {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
  }
  &__list-num--active {
    color: $color-title;
  }
}

.blog-one {
  &__item {
    p {
      margin-bottom: 40px;
    }
    blockquote {
      background-color: transparent;
      margin-bottom: 30px;
      padding: 0 40px;
      text-align: start;
    }
    .blog__blockquote-author::before {
      margin-right: auto;
      margin-left: 0;
    }
  }
  &__tags {
    margin-bottom: 40px;
  }

  &__tags-title {
    margin-bottom: 15px;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 32px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
  &__link {
    display: block;
    width: 276px;
    height: auto;
    position: relative;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 23px;
    }
  }

  &__link-prev {
    padding-left: 44px;
    &::before {
      left: 0;
      background-image: url(../images/icons/prev-link.svg);
    }
  }
  &__link-next {
    padding-right: 44px;
    text-align: right;
    &::before {
      right: 0;
      background-image: url(../images/icons/next-link.svg);
    }
  }
  &__comments {
    margin-top: 35px;
  }
  &__comments-title {
    color: $color-title;
    @extend %title-font;
    line-height: 32px;
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__comments-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .comment {
    &__avatar {
      width: 64px;
      height: 64px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 13px;
    }
    &__reply {
      background-color: transparent;
      margin-left: 5px;
      border: none;
      padding: 0;
      font-size: 14px;
      font-weight: 600;
      color: #707070;
      cursor: pointer;
    }
    &__info {
    }

    &__author {
      color: $color-title;
      @extend %title-font;
      line-height: 23px;
    }

    &__date {
      margin-bottom: 10px;
      font-size: 14px;
      color: #a1a1a1;
    }

    &__text {
    }
  }
  .form {
    display: flex;
    flex-direction: column;
  }

  .form-title {
    margin-bottom: 25px;
    color: $color-title;
    @extend %title-font;
    line-height: 23px;
  }

  .form-group {
    display: flex;
    justify-content: space-between;
  }

  .form-input,
  .form-message,
  .form-btn {
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    padding: 6px 16px;
    outline: none;
  }

  .form-input {
    width: 48%;
    margin-bottom: 20px;
    &::placeholder {
      color: #a1a1a1;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.68rem;
    }
  }

  .form-message {
    width: 100%;
    margin-bottom: 20px;
    padding: 14px 17px;
    border-radius: 24px;
    min-height: 125px;
    resize: none;
    &::placeholder {
      color: #a1a1a1;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.68rem;
    }
  }

  .form-btn {
    border: none;
    background-color: $color-title;
    color: #fffff0;
    font-weight: 600;
    border-radius: 21px;
    padding: 6px 35px;
    width: 156px;
    cursor: pointer;
  }
  .form-checkbox__lable {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    color: #a1a1a1;
  }
}

.blog-sidebar {
  margin-left: 30px;
  width: 350px;
  &__search {
    position: relative;
  }
  &__search-input {
    padding: 6px 38px 6px 18px;
    border: 1px solid rgba($color-title, 0.7);
    border-radius: 20px;
    display: block;
    width: 100%;
    margin-bottom: 44px;
    &::placeholder {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 27px;
      color: #a1a1a1;
    }
  }
  &__search-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 12px;
    right: 12px;
  }
}
