// ------------Hero-----------------

.hero {
  &__inner {
    padding-bottom: 75px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/home/slider_bg.jpg");
      width: 100%;
      height: 610px;
      top: 0;
      z-index: -1;
    }
  }
  .hero__slider {
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;
    }

    &-img {
      max-width: 590px;
      //height: 815px;
      object-fit: cover;
      margin-left: -14%;
    }
    &-info {
      max-width: 645px;
      margin-left: 25px;
    }

    &-title {
      color: $color-title;
      font-size: 110px;
      line-height: 135px;
      padding-bottom: 26px;
      margin-bottom: 26px;
      position: relative;
      @extend %title-font;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 185px;
        height: 1px;
        background: #6d7278;
      }
    }
    &-text {
      max-width: 585px;
    }
  }
}

//---------------- Collection -------------

.collection {
  margin: 0 auto;

  &__title {
    color: $color-title;
    font-size: 35px;
    line-height: 51px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    @extend %title-font;
    &::after {
      position: absolute;
      content: "";
      width: 250px;
      height: 1px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      background-color: #6d7278;
    }
  }

  &__text {
    //margin-bottom: 30px;
    max-width: 730px;
    margin: 0 auto 30px;
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    position: relative;
  }
  &__img {
    min-height: 350px;
    object-fit: cover;
  }
  &__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#fff, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all ease 0.7s;
    &:hover {
      opacity: 1;
      transition: opacity ease 0.7s;
    }
  }
  &__info-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: $color-title;
    padding-bottom: 19px;
    margin-bottom: 19px;
    position: relative;
    @extend %title-font;
    &::after {
      content: "";
      position: absolute;
      width: 80%;
      height: 1px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      background-color: #6d7278;
    }
  }

  &__info-text {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
  }
}

.cta {
  padding: 170px 0 155px;
  background-image: url("../images/Group_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  &__title {
    max-width: 500px;
    color: $color-title;
    font-size: 60px;
    line-height: 80px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
    @extend %title-font;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 200px;
      height: 1px;
      background-color: #6d7278;
    }
  }
  &__text {
    max-width: 540px;
  }
}

.work-stages {
  padding: 80px 0 30px;
  &__title {
    @extend %title-font;
    text-align: center;
    color: $color-title;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 51px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    .work-stage {
      width: 250px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &--bottom {
        padding-top: 20px;
      }
      &__title {
        margin-left: 13px;
        color: $color-title;
        @extend %title-font;
      }
      &__text {
        padding-top: 20px;
      }
      &__line {
        width: 100%;
        height: 2px;
        background-color: rgba($color-title, 0.7);
        margin-top: -25px;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          bottom: -4px;
          left: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: rgba($color-title, 1);
        }
      }
    }
  }
}
