.cta {
  padding: 170px 0 155px;
  background-image: url(../images/home/Mask.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 600px;
  opacity: 0.5;

  //   &__title {
  //     color: $color-title;
  //     font-size: 60px;
  //     line-height: 80;
  //     padding-bottom: 22px;
  //     margin-bottom: 22px;
  // position: relative;
  //max-width: 540px;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 200px;
  //   left: 0;
  //   bottom: 0;
  //   background-color: #6d7278;
  // }
  //}

  //   &__text {
  //     max-width: 540px;
  //   }
}
