.cta {
  padding: 170px 0 155px;
  background-image: url("../images/Group_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  &__title {
    max-width: 500px;
    color: $color-title;
    font-size: 60px;
    line-height: 80px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
    @extend %title-font;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 200px;
      height: 1px;
      background-color: #6d7278;
    }
  }
  &__text {
    max-width: 540px;
  }
}
