html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.68rem;
  color: $color-text;
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 0;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-fluid {
  max-width: 1920px;
  padding: 0 10px;
  margin: 0 auto;
  //text-align: center;
  //margin-bottom: 50px;
}

.breadscrumbs {
  background-color: rgba(#dfdfdf, 0.5);
  padding: 13px 14px;
  position: relative;
  z-index: 15;
  &__list {
    display: flex;
    gap: 5px;
  }
  &__item::after {
    content: "/";
  }
  &__item:last-child::after {
    display: none;
  }

  &__link {
    color: $color-text;
    font-size: 14px;
  }
}

.info-email {
  font-weight: 600;
  font-size: 14px;
  color: $color-title;
  margin-bottom: 22px;
  padding-left: 30px;
  display: inline-block;
  position: relative;
  &::before {
    content: "";
    background-image: url(../images/envelope.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0.45rem;
    left: 0;
    width: 1rem;
    height: 1rem;
  }
}

.social {
  display: flex;
  gap: 20px;
}
