@media (max-width: 768px) {
  .header__sidebar-btn {
    display: none;
  }
  .menu {
    padding-left: 2.19rem;
    padding-right: 2.19rem;
    &__list {
      gap: 2.5rem;
    }
  }
}

@media (max-width: 540px) {
  .header {
    &__inner {
      padding: 2px;
    }
    .logo {
      order: -1;
      //padding-right: 2.19rem;
    }
    .menu {
      display: none;
    }
    &__btn-menu {
      display: block;
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 50px;
      height: 50px;
      span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: $color-title;
        margin: 10px 0;
        border-radius: 5%;
      }
    }
  }
}
