@media (max-width: 992px) {
  .work-stages {
    &__box {
      background-color: #cfcfcf;
      .work-stage {
        &__one {
          width: 280px;
          padding-right: 20px;
        }
        &__two {
          margin-left: 202px;
        }
        &__three {
          width: 205px;
          padding-top: 20px;
          margin-left: 305px;
        }
      }
    }
  }
  .footer {
    &__info {
      width: 380px;
    }
    &__social {
      margin-left: 0px;
    }
  }
}

@media (max-width: 768px) {
  .header__sidebar-btn {
    display: none;
  }
  .menu {
    padding-left: 2.19rem;
    padding-right: 2.19rem;
    &__list {
      gap: 2.5rem;
    }
  }

  .work-stages {
    &__box {
      .work-stage {
        &__two {
          margin-left: 150px;
        }
        &__three {
          width: 205px;
          padding-top: 20px;
          margin-left: 250px;
        }
      }
    }
  }

  .footer {
    &__inner {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 20px;
    }
    &__info {
      width: 100%;
      margin-bottom: 50px;
    }
    &__info-text {
      max-width: 100%;
    }

    &__form {
      width: 100%;
    }
    &__social {
      //width: 50%;
      margin-left: 112px;
    }
    &__menu {
      //width: 30%;
      margin-right: 30px;
    }
  }
}

@media (max-width: 700px) {
  .work-stages {
    position: relative;
    padding-top: 50px;

    margin-bottom: 20px;
    &__box {
      background-color: #b6b6e0;
      padding-bottom: 150px;
      .work-stage {
        width: 250px;
        margin: 0;
        padding: 0;
        &__one {
          margin-top: 24px;
          margin-left: 0;
        }
        &__two {
          margin-left: 20px;
          transform: translateY(100%);
          ::before {
            top: 0px;
            right: 0px;
            transform: rotate(90deg);
          }
        }
        &__three {
          margin-left: 0px;
          transform: translateY(150%);
          ::before {
            top: 0px;
            left: 0px;
            transform: rotate(-90deg);
          }
        }
        &__line {
          transform: rotate(-90deg);
          padding: 0;
          position: relative;
          margin-bottom: 150px;
          &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            top: -3px;
            left: -2px;
            border-radius: 50%;
            background-color: rgba($color-title, 0.9);
            z-index: 10;
          }
        }

        &__title {
          margin-bottom: 0px;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .header {
    &__inner {
      flex-wrap: wrap;
      padding-top: 30px;
    }
    .logo {
      order: -1;
      //padding-right: 2.19rem;
    }
    .menu {
      //display: none;
      padding-right: 0;
      width: 100%;
      background-color: #fff;
      position: relative;
      z-index: 11;
      text-align: center;
      transform: translateY(-350px);
      transition: transform 0.5s;
      &--open {
        transform: translateY(28px);
      }
      &__list {
        display: block;
      }
      &__list-item {
        padding-right: 0;
      }
      &__list-link {
        display: block;
        padding: 1rem 0;
      }
    }
    &__btn-menu {
      display: block;
      order: -1;
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 50px;
      height: 50px;

      span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: $color-title;
        margin: 10px 0;
        border-radius: 5%;
      }
    }
  }
  .footer {
    &__social {
      //width: 50%;
      margin-left: 0px;
    }
  }
}

@media (max-width: 425px) {
  .footer {
    &__inner {
      padding: 0 10px;
    }
    &__info-text {
      font-size: 14px;
    }
    &__form {
      flex-wrap: wrap;
    }

    &__form-button {
      margin-top: 20px;
      margin-left: 0;
    }
    &__social {
      margin-left: 0px;
    }
    &__menu {
      margin-right: 0;
    }
  }
}
