.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 694px;
  background-color: #fff;
  padding-top: 40px;
  &__close {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 60px;
  }

  &__close {
  }
}
