.sidebar {
  transform: translateX(1000%);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 694px;
  width: 100%;
  background-color: #fff;
  padding-top: 40px;
  box-shadow: -3px 3px 10px #000;
  z-index: 10;
  transition: all ease 0.7s;
  padding-bottom: 10px;
  &.sidebar__open {
    transform: translateX(0%);
  }

  &__close {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 60px;
  }

  &__content {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
    padding: 10px;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 40px;
    width: 100px;
    img {
      width: 100%;
    }
    p {
      color: $color-title;
      font-size: 22px;
    }
  }

  &__title {
    color: $color-title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 252px;
      margin: 0 auto;
      height: 1px;
      background-color: #6d7278;
    }
  }

  &__text {
    margin-bottom: 45px;
  }

  &__image {
    display: block;
    margin: 0 auto;
    max-width: 400px;
  }
}
