.footer {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  &__content {
    background-color: $color-footer;
    padding: 60px 0 80px;
  }

  &__info {
    width: 540px;
  }

  &__info-title {
    color: $color-title;
    @extend %title-font;
    margin-bottom: 14px;
    line-height: 23px;
  }

  &__info-text {
    margin-bottom: 16px;
    max-width: 475px;
  }

  &__info-email {
    font-weight: 600;
    font-size: 14px;
    color: $color-title;
    margin-bottom: 22px;
    padding-left: 30px;
    display: inline-block;
  }

  &__form {
  }

  &__form-input {
    padding: 6px 10px 6px 18px;
    border-radius: 21px;
    background-color: transparent;
    border: 1px solid rgba($color-title, 0.7);
    width: 368px;
    &::placeholder {
      font-family: inherit;
      font-weight: 400;
      font-size: 1rem;
      line-height: 27px;
      color: #a1a1a1;
    }
  }

  &__form-button {
    background-color: $color-title;
    border: none;
    color: #fffff0;
    border-radius: 21px;
    font-weight: 600;
    padding: 6px 12px;
    min-width: 160px;
  }

  &__copyright {
    background-color: $color-title;
    color: #a1a1a1;
    text-align: center;
    padding: 42px 0px 41px;
    font-size: 0.75rem;
  }
}
